body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 50%;
}

.explain{
    font-size: 20px;
}

footer{
    background-color: #06164d;
    color: #ffffff;
}

.highlight{
    color: #0c2780;
}